---
---
@import "{{ site.theme }}";

body {
	background-color : #a39d9b ;
	font-size : 14px ;
	color : black ;
}

h1 a { 
	color : #6f697f ;
	font-family: "Calibri";
	font-size: 22px;
}

p {
	text-align : justify ;
}

li {
	margin-left: 20px;
}

div.header {
	border-radius: 8px;
	margin-left: 10%;
	width: 80%;
	min-height: 110px;
	color: #666;
	background-color: white ;
	padding: 16px;
}

div.main {
	border-radius: 8px;
	margin-left: 10%;
	width: 80%;
	background-color: white ;
	padding: 16px;
}

img {
	margin: 0px 0px 00px 20px;
}

a {
	color : #478 ;
	text-decoration : none;
}

a:hover, a:focus {
	color : #6f697f ;
	text-decoration : underline;
}

table.project {
	border-radius: 8px;
	width: 95%;
	background-color: #bbb;
	margin-top: 20px;
	padding: 16px;
}

table.project th {
	text-align: left;
	font-size: 18px;
	padding: 16px;
}

table.project td {
	padding: 0px 16px 10px 16px;
}


