---
---
@import "{{ site.theme }}";

body {
	background-color : #a39d9b ;
	font-size : 14px ;
	color : black ;
}

h1 { 
	font-size: 22px;
} 

h2 { font-size: 20px; } 
h3 { font-size: 18px; } 
h4 { font-size: 16px; } 
h5 { font-size: 14px; } 

/* title */
h1 a { 
	margin-top: -10px;
	color : #6f697f ;
	font-family: "Calibri";
	font-size: 22px;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 4px;
}


p {
	text-align : left ;
}

li {
	margin-left: 20px;
}

div.header {
	border-radius: 8px;
	margin-left: 10%;
	width: 80%;
	min-height: 110px;
	color: #666;
	background-color: white ;
	padding: 16px;
}

div.main {
	border-radius: 8px;
	margin-left: 10%;
	width: 80%;
	background-color: white ;
	padding: 16px;
}

img {
	margin: 0px 0px 00px 20px;
	border-radius: 8px;
}

a {
	color : #478 ;
	font-weight: bold;
	text-decoration : none;
}

a:hover, a:focus {
	color : #6f697f ;
	text-decoration : underline;
}

table.project {
	border-radius: 8px;
	width: 95%;
	background-color: #bbb;
	margin-top: 20px;
	padding: 12px;
}

table.project th {
	text-align: left;
	font-size: 18px;
	padding-top: 12px;
	padding-bottom: 0px;
	padding-right: 12px;
	padding-left: 12px;
}

table.project td {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-left: 12px;
}


